/* LINKS */
a {
  font-weight: normal;
  color: #e7aaff;
  text-decoration: none;
}

a:hover {
  color: #8712b3;
  text-decoration: none;
}

a:focus {
  outline: thick dashed #8712b3;
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  color: #bf64f0;
  font-size: 2em;
}
h3 {
  color: #bf64f0;
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.15rem;
}
h6 {
  font-size: 1.1rem;
}

/**
 * Quotes & Blockquotes
 */
q {
  quotes: "\00201C", "\00201D";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

/* Full size for canvas rendering */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 1.15;
  font-family: "Electrolize", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* SUPERPOSITION USING Z AXIS */
canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
}

.container-card {
  background-color: rgba(10, 10, 10, 0.5);
}

#header,
#content,
footer {
  padding: 12px;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

/* LOGO */

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
}

#contentForm {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemRotator {
  width: 100px;
  height: 100px;
  border-top: 8px solid rgba(255, 255, 255, 0.25);
  border-left: 8px solid rgba(255, 255, 255, 0.25);
  position: absolute;
  border-radius: 50%;
  transform-style: preserve-3d;
}

#form {
  font-size: 2.5rem;
  text-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 15px white;
}

.a1 {
  border-top: 4px solid rgba(255, 255, 255, 0.835);
  border-left: 4px solid rgb(255, 255, 255);
  border-top: 4px solid rgba(255, 255, 255, 0.918);
  box-shadow: 0px 0px 5px rgb(25, 227, 255), 0px 0px 10px rgb(28, 169, 212),
    0px 0px 15px rgb(28, 169, 212);
  animation: rotateA 4s linear infinite;
}
.a2 {
  border-top: 4px solid rgba(200, 50, 220, 0.835);
  border-left: 4px solid rgb(230, 190, 255);
  border-top: 4px solid rgba(200, 160, 200, 0.918);
  box-shadow: 0px 0px 5px rgb(255, 229, 128), 0px 0px 10px rgb(255, 240, 132),
    0px 0px 15px rgb(247, 231, 6);
  animation: rotateB 4s linear infinite;
}

.a3 {
  border-top: 4px solid rgba(220, 100, 50, 0.835);
  border-left: 4px solid rgb(230, 55, 30);
  border-top: 4px solid rgba(255, 0, 128, 0.918);
  box-shadow: 0px 0px 5px rgb(230, 50, 80), 0px 0px 10px rgb(230, 40, 60),
    0px 0px 15px rgb(230, 50, 80);
  animation: rotateC 4s linear infinite;
}

@keyframes rotateA {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes rotateB {
  from {
    transform: rotateY(360deg) rotateY(360deg);
  }
  to {
    transform: rotateY(0deg) rotateY(0deg);
  }
}

@keyframes rotateC {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* MENU */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-right: 20px;
  font-size: 1rem;
  border-bottom: solid transparent 3px;
  color: #cfd2da;
}
ul.main-menu li a:hover {
  color: #ffffff;
}
ul.main-menu li a.active {
  color: #ffffff;
  border-bottom-color: #8712b3;
}

/* UTILITIES*/
.hide {
  display: none;
}
.show {
  display: block;
}
